/* VARIABLES */
:root{

    /* COLOURS */
    
		/* main */
		--brand-black: #333333;
		--brand-white: #ffffff;
        --brand-accent: #64CB34;;
        --brand-yellow: #EBBB3F;
        --brand-blue: #5A9EC5;
        --brand-grey: rgba(0,0,0, 60%);

        /* secondary */
        --secondary-black: #1F1E1E;
        --secondary-grey: #e0e0e0;
        
    /* COLOURS */
    


    /* TRANSITIONS */

    --low-transition: 0.7s;
    --transition: 0.5s;

    /* TRANSITIONS */



    /* SHADOW */

    --shadow:-2px 7px 6px rgba(0, 0, 0, 0.25);

    /* SHADOW */



    /* BORDER SETTINGS */

    --radius: 20px;
    --secondary-radius: 50%;

    --border: 1px solid var(--brand-black);

    /* BORDER SETTINGS */

    

    /* FONT SIZES*/

    --large: max(25px, min(40px, calc(100vw * 4 / 75)));
    --average: max(14px, min(20px, calc(100vw * 4 / 75)));

    /* FONT SIZES*/


    
}
/* VARIABLES */